@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.max_content {
  width: max-content;
}
.open_dropdown {
  overflow: hidden;
  pointer-events: none;
  max-height: 0px;
  transition: max-height 300ms ease-in-out;
}

.open_dropdown.active {
  overflow: visible;
  pointer-events: visible;
  max-height: 3000px;
  transition: max-height 300ms ease-in-out;
}

.onImage-blackBg-color {
  background-color: #161d22;
  opacity: 0.8;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
